<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MultiTagget copy.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MultiTagget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MultiTagget_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC36DB1C20F4653200647216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC36DB3020F4653300647216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC36DB3B20F4653300647216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC36DB4E20F4654600647216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
